{{define "title"}}ブログ{{end}}

{{define "body"}}
<section>
  <header class="flex w-full bg-gray-100 p-4 items-center shadow-md">
    <h1 class="flex text-xl font-bold">ブログ</h1>
    <nav class="ml-auto flex items-center">
      {{if .User}}
      <p>ようこそ {{.User.Name}} さん</p>
      {{end}}
      <ul class="flex space-x-4 ml-4">
        {{if .User}}
        <li class="text-white bg-gray-500 hover:bg-gray-600 p-2 rounded-md"><a href="/my/blogs">マイページ</a></li>
        <li class="text-white bg-red-500 hover:bg-red-600 p-2 rounded-md"><a href="/signout">サインアウト</a></li>
        {{else}}
        <li class="text-white bg-blue-500 hover:bg-blue-600 p-2 rounded-md"><a href="/signup">サインアップ</a></li>
        <li class="text-white bg-gray-500 hover:bg-gray-600 p-2 rounded-md"><a href="/signin">サインイン</a></li>
        {{end}}
      </ul>
    </nav>
  </header>
  <section class="m-4 bg-white">
    <header class="flex bg-blue-100 p-2 items-center rounded-md mb-4">
      <h1 class="font-bold text-lg">みんなのブログ</h1>
    </header>
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-200 items-center text-left rounded-t-md p-2">
          <td class="font-bold">タイトル</td>
          <td class="font-bold">説明</td>
        </tr>
      </thead>
      <tbody>
        {{range .Blogs}}
        <tr class="border-b border-gray-100 hover:bg-gray-50">
          <td class="text-blue-500 hover:text-blue-600"><a href="/blogs/{{.Path}}">{{.Title}}</a></td>
          <td>{{.Description}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    <footer class="flex w-full mt-4 justify-center items-center">
      <p class="flex items-center">
        <span class="m-2">
          {{if .HasPrevPage}}
          <a class="text-blue-500 hover:text-blue-600" href="/?page={{.PrevPage}}">&lt;</a>
          {{end}}
        </span>
        <span class="m-2">
          Page {{.Page}}
        </span>
        <span class="m-2">
          {{if .HasNextPage}}
          <a class="text-blue-500 hover:text-blue-600" href="/?page={{.NextPage}}">&gt;</a>
          {{end}}
        </span>
      </p>
    </footer>
  </section>
</section>
<audio src="/assets/cracker.mp3" preload="auto" class="invisible"></audio>
{{end}}
