{{define "title"}}{{.User.Name}} のブログ一覧{{end}}

{{define "body"}}
<section>
  <header class="flex w-full bg-gray-100 p-4 items-center shadow-md">
    <h1 class="font-bold">{{.User.Name}} のブログ一覧</h1>
    <p class="ml-auto p-2 text-white bg-blue-500 hover:bg-blue-600 rounded-md"><a href="/my/blogs/-/create">新規作成</a></p>
  </header>
  <section>
    <table class="w-full table-auto m-4 bg-white">
      <thead class="bg-gray-200 items-center text-left rounded-t-md p-2">
        <tr class="p-2">
          <td class="font-bold">タイトル</td>
          <td class="font-bold">説明</td>
          <td class="font-bold"></td>
        </tr>
      </thead>
      <tbody>
        {{range .Blogs}}
        <tr class="border-b border-gray-100 hover:bg-gray-50">
          <td class="text-blue-500 hover:text-blue-600"><a href="/my/blogs/{{.Path}}">{{.Title}}</a></td>
          <td>{{.Description}}</td>
          <td class="text-blue-500 hover:text-blue-600"><a href="/blogs/{{.Path}}" target="_blank" rel="nofollow noopener">Go</a></td>
        </tr>
        {{end}}
      </tbody>
    </table>
    <footer>
      <p>
        <span>
          {{if .HasPrevPage}}
          <a href="/my/blogs?page={{.PrevPage}}">&lt;</a>
          {{end}}
        </span>
        <span>
          Page {{.Page}}
        </span>
        <span>
          {{if .HasNextPage}}
          <a href="/my/blogs?page={{.NextPage}}">&gt;</a>
          {{end}}
        </span>
      </p>
    </footer>
  </section>
</section>
{{end}}
