<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}{{end}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/vs.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{block "head" .}}{{end}}
  </head>
  <body>
    {{block "body" .}}{{end}}
    {{range .Manifest}}
      {{if .IsEntry}}
        <script defer src="/{{ .File }}"></script>
        {{range .Css}}
          <link rel="stylesheet" href="/{{ . }}" />
        {{end}}
      {{end}}
    {{end}}
  </body>
</html>
